<!doctype html>
<html>

<head>
    <title>ReleaseIt</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <a href="/login" class="btn btn-default"><span class="fa fa-user btn btn-primary fw-bolder fs-6 px-7 py-3"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user btn btn-primary fw-bolder fs-6 px-7 py-3"></span>Sign Up</a>
            <img src="img/ReleaseIt.png" alt="movies">
           

        </div>

    </div>
</body>

</html>